#navShopElement:hover .menu__link {
  color: $primaryButtonColor;

  &:before {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    border-bottom: solid 2px;
    left: 0;
    width: 100%;
  }
}

#navShopElement:hover .categoryDropdown {
  max-height: 100%;
  visibility: visible;
}

.categoryDropdown {
  z-index: 10000;
  position: absolute;
  box-shadow: (0px 4px 10px rgba(0, 0, 0, 0.1));
  background-color: #ffffff;
  top: 103.5px;
  overflow: hidden;
  transition: max-height 0.5s ease;
  visibility: hidden;
  max-height: 0px;
  display: flex;
  flex-direction: column;

  &__header {
    font-size: 1.5rem;
    padding: 2.25rem 2.25rem 1.25rem 2.25rem;
  }

  &__list {
    color: #a39161;
    line-height: 2.5;
    font-size: 1rem;
    padding: 0 2.25rem;

    &:last-of-type {
      padding-bottom: 2.25rem;
    }
  }
}

.list__link {
  transition: color 0.3s;

  &:hover {
    color: #000;
  }
}
