.blackFooter .flexBox {
  display: flex;
}

.blackFooter .footerTop {
  justify-content: space-between;
}

.footerTop .blackFooter__i {
  padding-bottom: 21px;
}

.phone__i,
.footerTop .blackFooter__i {
  font-size: 20px;
}

.blackFooter {
  padding: 48px 34px;
  color: white;
  background-color: black;
}

.footer__list-item,
.blackFooter__p {
  padding: 7px 0px;
}

.blackFooter__a,
.footer__h2 {
  font-size: 18px;
  font-weight: 400;
}

.blackFooter__a:hover {
  opacity: 80%;
}

.blackFooter__p {
  font-size: 14px;
}

.blackFooter__i {
  padding-right: 10px;
}

.footerBottom {
  padding-top: 21px;
  justify-content: space-between;
  gap: 15%;
  align-items: flex-end;
}

.footerBottom__i {
  font-size: 57px;
}

.mobileDropdown {
  display: none;
}

@media screen and (max-width: 720px) {
  .flexBox.footerTop {
    flex-direction: column;
  }
  .footerSection ul {
    border-top: 2px solid white;
  }
  .firstRow {
    border-top: 2px solid white;
  }
  .footerBottom {
    margin-top: 1rem;
  }
  .mobileDropdown {
    display: flex;
    user-select: none;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
    &:hover {
      background-color: #1b1b1b;
    }
  }
  .footerDropdown {
    padding-left: 1rem;
    padding-top: 1rem;
    transition: max-height 0.3s ease;
    max-height: 0;
    overflow: hidden;
  }
}
