.header {
  padding: 0px 34px;
  background-color: $tertiaryBackgroundColor;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navigation__tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 103.6px;
}

.navigation__tools .li__toolsLink {
  list-style-type: none;
  align-items: center;
}

.navigation__tools .ul__toolsLink {
  height: 100%;
  display: flex;
  align-items: center;
}

.navigation__menu {
  display: flex;
  height: 100%;
}

.menu__item {
  list-style: none;
  display: flex;

  &:first-of-type {
    margin: 21px 0;
  }
}

.menu__link {
  text-decoration: none;
  color: $primaryTextColor;
  cursor: pointer;
  display: block;
  position: relative;
  padding: 0 15px;
  margin-inline: 5px;
  transition: color 0.2s ease-in-out;

  align-self: center;

  &--active:after {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    width: 100%;
    border-bottom: 2px solid $primaryButtonColor;
  }

  &:hover {
    color: $primaryButtonColor;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    width: 0;
    border-bottom: solid 2px;
    left: 0;
    transition: width 0.2s ease-in-out;
  }

  &:hover:before {
    width: 100%;
  }
}

.menu__logo {
  padding-right: 20px;
}

.tools__inputContainer {
  background-color: $primaryDetailColor;
  border-radius: 2px;
  padding: 6px;
  margin-right: 20px;
}

.tools__input {
  border: none;
  outline: none;
  max-width: 200px;
  background-color: $primaryDetailColor;
  font-size: 0.8em;
}

.tools__searchIcon {
  color: $secondaryIconColor;
  cursor: pointer;

  &:hover {
    color: $primaryButtonColor;
  }
}

.tools__inputContainer,
.tools__link {
  display: inline-block;
  -vertical-align: middle;
}

.tools__icon {
  vertical-align: middle;
}

.tools__link {
  text-decoration: none;
  color: $primaryTextColor;
  cursor: pointer;
  position: relative;
  padding: 5px 8px;
  margin-inline: 12px;
  transition: color 0.2s ease-in-out;

  &--active:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid $primaryButtonColor;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    border-bottom: solid 2px;
    left: 0;
    transition: width 0.2s ease-in-out;
  }

  &:hover {
    color: $primaryButtonColor;
  }

  &:hover:before {
    width: 100%;
  }
}

.cart__amount {
  background-color: $primaryButtonColor;
  color: $primaryTextColor;
  border-radius: 50px;
  padding: 1px 6px;
  font-size: 0.7em;
  font-weight: bold;
  position: absolute;
  top: -2px;
  left: 18px;
}

.navSubmitBtn {
  border: none;
}

.burger {
  display: none;
}

.mobileLogo {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mobileLogo {
    display: flex;
    flex-shrink: 0;
    max-width: 60px;
    margin-top: 1rem;
  }

  .categoryDropdown {
    visibility: hidden !important;
  }

  .burger {
    display: block;
    right: 35px;
    bottom: 20px;
    height: 70px;
    width: 70px;
    position: fixed;
    z-index: 9999999;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
    cursor: pointer;
    transition: transform 200ms linear 0s;
    background-color: $secondaryBackgroundColor;
    animation-duration: 250ms;
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;

    &:hover {
      transform: scale(1.1);
      background-color: rgb(250, 250, 250);
    }
  }

  .navigation__menu {
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.2s;
    bottom: 0;
    z-index: 9999;
    right: 0;
    width: 80%;
    text-align: center;
    background-color: $tertiaryBackgroundColor;
    display: flex;
    flex-direction: column;
  }

  .showMenu {
    transform: translateY(0);
  }

  .menuIcon {
    color: #ff6900;
    font-size: 40px;
  }

  .header {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .navigation {
    display: flex;
    gap: 1rem;
  }

  .tools__inputContainer {
    display: flex;
    flex-shrink: 0;
  }

  .menu {
    &__link {
      padding: 0;
      text-align: center;
      font-size: 2rem;
      margin: 0 auto;
    }

    &__item {
      &:first-of-type {
        margin: 1rem auto;
        padding: 0;
        border: none;
      }

      &:nth-of-type(2) {
        border-top: 2px solid $primaryButtonColor;
      }

      padding: 2em 2em 2em 2em;
      border-bottom: 2px solid $primaryButtonColor;
    }

    &__logo {
      margin: 0;
      padding: 0;
      height: 80px;
    }
  }

  .navigation__tools {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    align-items: center;
    gap: 1rem;
  }

  .tools__link {
    margin: 0 auto;
  }

  .tools__inputContainer {
    margin: 1rem 0 0 0;
  }
}
