.header {
  padding: 0px 34px;
  background-color: $tertiaryBackgroundColor;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navigation__menu {
  display: flex;
  height: 100%;
}

.menu__item {
  list-style: none;
  display: flex;

  &:first-of-type {
    margin: 21px 0;
  }
}

.menu__link {
  text-decoration: none;
  color: $primaryTextColor;
  cursor: pointer;
  display: block;
  position: relative;
  padding: 0 15px;
  margin-inline: 5px;
  transition: color 0.2s ease-in-out;

  align-self: center;

  &--active:after {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    width: 100%;
    border-bottom: 2px solid $primaryButtonColor;
  }

  &:hover {
    color: $primaryButtonColor;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    width: 0;
    border-bottom: solid 2px;
    left: 0;
    transition: width 0.2s ease-in-out;
  }

  &:hover:before {
    width: 100%;
  }
}

.menu__logo {
  padding-right: 20px;
}

.tools__inputContainer {
  background-color: $primaryDetailColor;
  border-radius: 2px;
  padding: 6px;
  margin-right: 20px;
}
.tools__input {
  border: none;
  outline: none;
  width: 200px;
  background-color: $primaryDetailColor;
  font-size: 0.8em;
}
.tools__searchIcon {
  color: $secondaryIconColor;
  cursor: pointer;

  &:hover {
    color: $primaryButtonColor;
  }
}

.tools__inputContainer,
.tools__link {
  display: inline-block;
  -vertical-align: middle;
}

.tools__icon {
  vertical-align: middle;
}

.tools__link {
  text-decoration: none;
  color: $primaryTextColor;
  cursor: pointer;
  position: relative;
  padding: 5px 8px;
  margin-inline: 12px;
  transition: color 0.2s ease-in-out;

  &--active:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid $primaryButtonColor;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    border-bottom: solid 2px;
    left: 0;
    transition: width 0.2s ease-in-out;
  }

  &:hover {
    color: $primaryButtonColor;
  }

  &:hover:before {
    width: 100%;
  }
}

.cart__amount {
  background-color: $primaryButtonColor;
  color: $primaryTextColor;
  border-radius: 50px;
  padding: 1px 6px;
  font-size: 0.7em;
  font-weight: bold;
  position: absolute;
  top: -2px;
  left: 18px;
}

.navSubmitBtn {
  border: none;
}
