@import "../../globalstyles.scss";

.frontpageProducts {
   display: flex;
   flex-direction: column;

   &__heading {
      text-transform: uppercase;
      color: $secondaryTextColor;
   }

   &__headingContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2rem 0;
   }

   &__productContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__btn {
      transition: all ease 0.2s;

      &:hover {
         scale: 1.1;
         background-color: #fff;
         outline: 2px solid $primaryButtonColor;
         color: $primaryButtonColor;
      }
   }


}

.frontpageProduct {
   box-shadow: (0px 4px 10px rgba(0, 0, 0, 0.1));
   height: 400px;
   cursor: pointer;
   font-family: "Open Sans", sans-serif;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr auto auto auto;
   background-color: $secondaryBackgroundColor;
   padding: 1.1rem 0.9rem;
   border-radius: 0.1875rem;
   max-width: 280px;

   &:hover {
      box-shadow: inset 0 0 0 3px #e6e6e6;
   }

   &:hover {
      box-shadow: inset 0 0 0 3px #e6e6e6;
   }

   &__heading {
      font-weight: 700;
      margin-top: 0.5rem;
      font-size: 0.875rem;
      text-align: center;
      transition: all 0.2s ease;

      &:hover {
         transform: scale(1.02);
      }
   }

   &__productBtn {
      transition: all ease 0.2s;
      padding: 0.5rem 10%;
      font-size: 0.875rem;
      width: 50%;
      margin: 0 auto;

      &:hover {
         scale: 1.1;
         background-color: #fff;
         outline: 2px solid $primaryButtonColor;
         color: $primaryButtonColor;
      }
   }

   &__price {
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      margin: 1rem 0;
   }

}