.navigation{
    display: flex;
    background-color: $primaryBackgroundColor;
    justify-content: space-between;
}
.navigation__menu{
    display: flex;
    gap: 31px;
}
.menu__item{
    list-style: none;
}
.menu__link{
    text-decoration: none;
}