.productMain__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  //grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 1.6rem;
}
@media only screen and (max-width: 600px) {
  .productMain__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .productMain__primaryHeading {
    margin: 15rem auto;
  }
}
