.product {
  font-family: "Open Sans", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto auto;
  background-color: $secondaryBackgroundColor;
  padding: 1.1rem 0.9rem;
  border-radius: 0.1875rem;
}
