<article class="compare">
  <div class="compare__selectedProduct">
    <img class="selectedProduct__image" src="" alt="ERROR" />
    <i class="selectedProduct__removeBtn fa-solid fa-x"></i>
    <p class="selectedProduct__name">ERROR</p>
    <p class="selectedProduct__price">ERROR</p>
  </div>
  <div class="compare__selectedProduct">
    <img class="selectedProduct__image" src="" alt="ERROR" />
    <i class="selectedProduct__removeBtn fa-solid fa-x"></i>
    <p class="selectedProduct__name">ERROR</p>
    <p class="selectedProduct__price">ERROR</p>
  </div>
  <div class="compare__selectedProduct">
    <img class="selectedProduct__image" src="" alt="ERROR" />
    <i class="selectedProduct__removeBtn fa-solid fa-x"></i>
    <p class="selectedProduct__name">ERROR</p>
    <p class="selectedProduct__price">ERROR</p>
  </div>
  <div class="compare__infoBox">
    <div class="infoBox__arrow"></div>
    <p class="infoBox__text"></p>
  </div>
  <div class="compare__compareButton">
    <p class="compareButton__text">Compare &nbsp;</p>
    <img
      class="compareBtn__icon"
      src="/images/sliders.svg"
      alt="Compare icon"
    />
  </div>
</article>
