<footer class="blackFooter">
  <div class="flexBox footerTop">
    <div>
      <ul class="footer">
        <li class="footer__list-item"><a href="/">Home</a></li>
        <li class="footer__list-item"><a href="/product_list">Shop</a></li>
        <li class="footer__list-item"><a href="/our_history">About us</a></li>
      </ul>
    </div>

    <div>
      <ul class="footer">
        <li class="footer__list-item">
          <a href="/faq/#section__refunds">Returns and Refunds</a>
        </li>
        <li class="footer__list-item">
          <a href="/faq/#section__delivery">Delivery</a>
        </li>
        <li class="footer__list-item">
          <a href="/faq/#section__privacyPolicy">Privacy Policy</a>
        </li>
        <li class="footer__list-item">
          <a href="/faq/#section__termsConditions">Terms & Conditions</a>
        </li>
      </ul>
    </div>

    <div class="firstRow">
      <h2>Contact</h2>
      <p>2 Joppa Rd, Edinburgh, EH1 2EU</p>
      <p><i class="fa-solid fa-phone"></i> 0131 556 7901</p>
      <p>44 Cow Wynd, Falkirk, Centreal Region, FK1 1PU</p>
      <p><i class="fa-solid fa-phone"></i> 01324 629 011</p>
      <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
      <a href="#"><i class="fa-brands fa-youtube-square"></i></a>
      <a href="#"><i class="fa-brands fa-twitter-square"></i></a>
      <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
    </div>
  </div>

  <div class="flexBox footerBottom">
    <div>
      <i class="fa-brands fa-cc-stripe"></i>
      <i class="fa-brands fa-cc-visa"></i>
      <i class="fa-brands fa-cc-mastercard"></i>
      <p>
        Hi Fi Corner (Edinburgh) Ltd is registered in Scotland. No: SC049298.
        Registered office: 2 Joppa Rd, Edinburgh EH15 2EU
      </p>
    </div>

    <div>
      <p>Built by WU07 :)</p>
    </div>
  </div>
</footer>
