.invoice__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  color: $secondaryTextColor;
}

.invoice {
  @include whiteBackground($max-width: 780px, $margin-block: 24px);
  padding: 45px;
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.invoice__deliveryInfo,
.invoice__customerInfo {
  grid-column: 1 / 2;
}

.deliveryInfo__name,
.customerInfo__name {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.deliveryInfo__address {
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
}

.deliveryInfo__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: $secondaryTextColor;
  margin-top: 31px;
  margin-bottom: 7px;
}

.customerInfo__address,
.customerInfo__country,
.customerInfo__phone,
.customerInfo__email,
.deliveryInfo__phone,
.deliveryInfo__email {
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
}

.invoice__companyInfo {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.companyInfo__image {
  width: 56px;
  height: auto;
  margin-left: auto;
  margin-bottom: 15px;
  display: block;
}

.companyInfo__address {
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  font-style: normal;
  text-align: right;
}

.email__email,
.phone__number {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
}

.invoice__phone,
.invoice__email {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 8px;
}

.email__icon,
.phone__icon {
  color: $tertiaryIconColor;
  margin-left: 5px;
}

.invoice__orderInfo {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  max-width: 280px;
  margin-left: auto;
}

.orderInfo__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  color: $secondaryTextColor;
  padding-right: 100%;
  text-align: left;
  border-bottom: 2px solid #c4c4c4;
  height: 35px;
}

.invoice__orderInfo tbody tr {
  padding-top: 50px;
}

.orderInfo__title:first-of-type {
  margin-left: 5px;
  display: block;
}

.orderInfo__number,
.orderInfo__date,
.orderInfo__currency,
.orderInfo__numberData,
.orderInfo__dateData,
.orderInfo__currencyData {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

.orderInfo__numberData,
.orderInfo__dateData,
.orderInfo__currencyData {
  width: 100px;
}

.orderInfo__number,
.orderInfo__date,
.orderInfo__currency {
  width: 150px;
}

.invoice__summery {
  margin-top: 50px;
  border-spacing: 0;
  grid-column: 1 / 3;
}

.summery__titles th {
  border-bottom: 2px solid #c4c4c4;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.titles__desc {
  text-align: left;
  padding-left: 10px;
}

.summery__item:nth-child(odd) {
  background-color: $primaryDetailColor;
}

.item__productName,
.item__productPrice,
.item__productAmount,
.item__productTotal {
  font-weight: 400;
  font-size: 14px;
  line-height: 41px;
  height: 41px;
}

.item__productPrice {
  width: 100px;
  padding-left: 25px;
}

.item__productAmount {
  text-align: center;
}
.item__productTotal {
  width: 100px;
  padding-left: 25px;
}

.invoice__total {
  grid-column: 2 / 3;
  margin-top: 50px;
  border-spacing: 0;
}

.total__total {
  height: 41px;
  background-color: $quaternaryDetailColor;
  color: $primaryBackgroundColor;
}

.total__name {
  padding-left: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.total__totalPrice {
  padding-right: 5px;
}

.total__subtotalPrice,
.total__vatPrice,
.total__deliveryPrice,
.total__totalPrice {
  text-align: right;
}

.total__whitespace {
  height: 50px;
}

.invoice__contactInfo {
  display: flex;
  grid-column: 1 / 3;
  margin: 100px auto 10px auto;
}

.contactInfo__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.contact__address {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
}
