$primaryBackgroundColor: #f4f4f2; // body background
$secondaryBackgroundColor: #fff; // card background
$tertiaryBackgroundColor: #000; // header, footer, what we do background

$primaryButtonColor: #ff6900;
$secondaryButtonColor: #495464;

$primaryDetailColor: #e8e8e8; // breadcrumb, input fields, counter background, rows background
$secondaryDetailColor: #d2d2d2; // image gallery arrows and dots, vertical and horizontal lines

$primaryTextColor: #ffffff; // text color
$secondaryTextColor: #495464; //second text color
$tertiaryTextColor: #ff6900;

$primaryIconColor: #f4f4f2;
$secondaryIconColor: #000;
$tertiaryIconColor: #495464;
