.deliveryMethods{
    margin-top: 2rem;
    &__heading{
        font-weight: 700;
        font-size: 26px;
        line-height: 35px;
        color: #495464;
    }
}   

.deliveryCard{
    @include whiteBackground($margin-inline:unset, $margin-block: 20px, $max-width: 635px );
    &__btn{
        border: 1px solid #495464;
        box-sizing: border-box;
        filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.25));
        border-radius: 2px;
        padding: 0.5rem 1rem;
        background-color: #FFFFFF;
        color: #495464;
        
        margin-right: 1rem;
        &:hover{
            
            cursor: pointer;
            background-color: #f7f7f7;
        }
    }
    &__btnContainer{
        padding: 1rem 0;
    }
    &__textContainer{
        margin-top: 1rem;
        &Heading{
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        margin: 1rem 0;
        
        }
    }
}

.selectedDeliveryBtn{
    background-color: #495464;
    color: #FFFFFF;
    &:hover{
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #3b4351;
    }
}