
.container__paymentaddress{
  margin-inline: unset;  
  @include whiteBackground($max-width: 635px, $margin-inline:unset )
}


.overview__paymentaddress{
padding: 15px;
}

.delivery__button{
padding: 8px 28px;
font-size: 14px;
background-color: #ffffff;
box-shadow: 1px 2px 4px #495464;
border-radius: 2px;
cursor: pointer;
transition: box-shadow 300ms ease;
color: #495464; 
margin-bottom: 30px;
}

.delivery__button:hover {
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
color: white;
background-color: #495464;
}


.overview__title{
font-weight: 700;
font-size: 26px;
line-height: 35px;
color: $secondaryTextColor;
padding-bottom: 17px;
}


.paymentaddress__overview{
  margin-left: 160px;
}
























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































