.paymentMethods{
    grid-row:3/3;
    grid-column: 1/3;
    &__heading{
        font-weight: 700;
        font-size: 26px;
        line-height: 35px;
        color: #495464;
        margin-top: 1rem;
    }
    &__paymentOptions{
        display: flex;
        flex-direction: column;
        @include whiteBackground($margin-inline:unset, $margin-block: 20px, $max-width: 635px )
    }
    &__img{
        max-width: 4rem;
        max-height: 3rem;
    }
}

.paymentMethod{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.cardMethod__img{
    width: 14rem; 
    height: 3rem;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    color: #495464;
    cursor: pointer;
    display: grid;
    place-content: center;
    &:hover{
        filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.3));
    }
  }

  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: #495464;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
  .paymentRow{
    width: 589px;
    height: 0px;
    margin-bottom: 2rem;
    border: 1px solid #D2D2D2;
  }