.registerForm__boxes {
  display: flex;
  flex-direction: column;
}

.registerForm {
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 24px;
    font-weight: 600;
  }
  & h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  &__label {
    font-weight: 600;
  }
  &__field {
    max-width: 80%;
  }
  & button {
    align-self: flex-start;
  }
}

/* Customize the label (the container) */
.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  padding-left: 24px;
  gap: 12px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container:last-of-type {
  margin-bottom: 40px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 16px;
  width: 16px;
  background: #f4f4f2;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  width: 5px;
  left: 5px;
  top: 2px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
