@import "../../globalstyles.scss";
.btn.cartStockContainer__btn {
  transition: all ease 0.2s;
  padding: 0.5rem 10%;
  font-size: 0.875rem;

  &:hover {
    scale: 1.1;
    background-color: #fff;
    outline: 2px solid $primaryButtonColor;
    color: $primaryButtonColor;
  }
}
