.specs__table {
  border-spacing: 0;
}

.spectable__value {
  border-left: 1px solid $secondaryDetailColor;
}

th.spectable__value {
  font-weight: 700;
  line-height: 40px;
}

th.spectable__value img {
  max-width: 240px;
  width: 100%;
}

.spectable__row {
  height: 42px;
}

.spectable__row:nth-child(even) {
  background-color: $primaryDetailColor;
}

.spectable__key {
  color: $secondaryIconColor;
  font-weight: 700;
  text-align: left;
  padding-left: 15px;
}
.spectable__value {
  font-weight: unset;
  text-align: center;
}
.spectable__key,
.spectable__value {
  font-size: 14px;
}

.spectable__link {
  color: $tertiaryTextColor;
}
