.specs__table{
    border-spacing: 0;
}

.spectable__value {
  border-left: 1px solid $secondaryDetailColor;
}

.spectable__row:nth-child(even) {
  background-color: $primaryDetailColor;
}

.spectable__key{
  color:$secondaryIconColor;
  font-weight: 700;
}
.spectable__value{
  /*filler*/
}
.spectable__key,.spectable__value {
  font-size:14px;
}