@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, Helvetica, Verdana, sans-serif;
  background-color: #f4f4f2;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: currentColor;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

#page__title {
  color: #495464;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 35px;
  font-size: 3rem;
}

.product__cartStockContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product {
  font-family: "Open Sans", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto auto;
  background-color: #fff;
  padding: 1.1rem 0.9rem;
  border-radius: 0.1875rem;
  max-width: 280px;
}

.productMain__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-content: center;
  gap: 1.6rem;
}

.header {
  padding: 0px 34px;
  background-color: #000;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.menu__item {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}

.menu__item:not(:first-of-type) {
  padding: 2rem 0;
}

.menu__link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  padding: 0 15px;
  margin-inline: 5px;
  transition: color 0.2s ease-in-out;
}

.menu__link--active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #ff6900;
}

.menu__link:before {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  width: 0;
  border-bottom: solid 2px;
  left: 0;
  transition: width 0.2s ease-in-out;
}

.menu__link:hover {
  color: #ff6900;
}

.menu__link:hover:before {
  width: 100%;
}

.menu__logo {
  padding-right: 20px;
}

.tools__inputContainer {
  background-color: #e8e8e8;
  border-radius: 2px;
  padding: 6px;
  margin-right: 20px;
}

.tools__input {
  border: none;
  outline: none;
  width: 200px;
  background-color: #e8e8e8;
  font-size: 0.8em;
}

.tools__searchIcon {
  color: #000;
  cursor: pointer;
}

.tools__searchIcon:hover {
  color: #ff6900;
}

.tools__inputContainer,
.tools__link {
  display: inline-block;
  -vertical-align: middle;
}

.tools__icon {
  vertical-align: middle;
}

.tools__link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  padding: 5px 8px;
  margin-inline: 12px;
  transition: color 0.2s ease-in-out;
}

.tools__link--active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #ff6900;
}

.tools__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  border-bottom: solid 2px;
  left: 0;
  transition: width 0.2s ease-in-out;
}

.tools__link:hover {
  color: #ff6900;
}

.tools__link:hover:before {
  width: 100%;
}

.cart__amount {
  background-color: #ff6900;
  color: #fff;
  border-radius: 50px;
  padding: 1px 6px;
  font-size: 0.7em;
  font-weight: bold;
  position: absolute;
  top: -2px;
  left: 18px;
}

.blackFooter .flexBox {
  display: flex;
}

.blackFooter .footerTop {
  justify-content: space-between;
  border-bottom: 1px solid #bbbfca;
}

.footerTop .blackFooter__i {
  padding-bottom: 21px;
}

.phone__i,
.footerTop .blackFooter__i {
  font-size: 20px;
}

.blackFooter {
  padding: 48px 34px;
  color: white;
  background-color: black;
}

.footer__list-item,
.blackFooter__p {
  padding: 7px 0px;
}

.blackFooter__a,
.footer__h2 {
  font-size: 18px;
  font-weight: 400;
}

.blackFooter__a:hover {
  opacity: 80%;
}

.blackFooter__p {
  font-size: 14px;
}

.blackFooter__i {
  padding-right: 10px;
}

.footerBottom {
  padding-top: 21px;
  justify-content: space-between;
  gap: 15%;
  align-items: flex-end;
}

.footerBottom__i {
  font-size: 57px;
}

.g-whiteBackground {
  background-color: #fff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 100%;
  max-width: 1124px;
  padding: 30px;
  margin-block: 50px;
  margin-inline: auto;
}

.g-inputField {
  border: none;
  outline: none;
  background-color: #e8e8e8;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 100%;
  max-width: unset;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.g-button {
  display: block;
  background-color: #ff6900;
  color: #fff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  border: none;
  padding: 8px 28px;
  height: unset;
  width: unset;
  max-width: unset;
}
.g-button:hover {
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.breadcrumb {
  margin: 60px auto 40px;
  display: grid;
  grid-template: 1fr/1fr;
  max-width: fit-content;
}

.breadcrumb__line {
  grid-area: 1/1/-1/-1;
  place-self: center;
  width: 390px;
  height: 36px;
  background-color: #fff;
}

.breadcrumb__item {
  grid-area: 1/1/-1/-1;
  width: 70px;
  height: 70px;
  background-color: #e8e8e8;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumb__cart {
  place-self: center start;
}

.breadcrumb__payment {
  place-self: center;
}

.breadcrumb__cart,
.breadcrumb__payment {
  font-size: 1.5rem;
}

.breadcrumb__invoice {
  place-self: center end;
  font-size: 1.6rem;
}

.breadcrumb__item--active {
  background-color: #495464;
  color: #f4f4f2;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  width: 80px;
  height: 80px;
}

#navShopElement:hover .categoryDropdown {
  max-height: 100%;
  visibility: visible;
}

.categoryDropdown {
  z-index: 10000;
  position: absolute;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transform: translateY(2rem);
  overflow: hidden;
  transition: max-height 0.5s ease;
  visibility: hidden;
  max-height: 0px;
  display: flex;
  flex-direction: column;
}
.categoryDropdown__header {
  font-size: 1.5rem;
  padding: 2.25rem 2.25rem 1.25rem 2.25rem;
}
.categoryDropdown__list {
  color: #A39161;
  line-height: 2.5;
  font-size: 1rem;
  padding: 0 2.25rem;
}
.categoryDropdown__list:last-of-type {
  padding-bottom: 2.25rem;
}

.list__link {
  transition: color 0.3s;
}
.list__link:hover {
  color: #000;
}

.form__star {
  color: red;
  margin-left: 0.5rem;
}

.counter {
  display: flex;
  align-items: center;
  max-width: fit-content;
}

.counter__minus,
.counter__plus {
  cursor: pointer;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter__amount {
  height: 37px;
  min-width: 37px;
  font-size: 1rem;
  font-weight: 600;
  padding-inline: 10px;
  background: #f4f4f2;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.companyinfo {
  margin-top: 68px;
  display: grid;
  grid-template-columns: 64% 36%;
  background-color: #000;
  padding-top: 109px;
  padding-bottom: 94px;
}

.companyinfo__about {
  color: #fff;
  max-width: 504px;
  margin-left: 5%;
}

.about__title, .openingHours__title {
  font-size: 24px;
}

.about__title {
  margin-bottom: 17px;
}

.about__text {
  margin-bottom: 19px;
}

.openingHours__title {
  margin-bottom: 36px;
}

.openingHours__city {
  margin-top: 19px;
}

.about__text, .openingHours__text, .openingHours__address {
  font-size: 14px;
  line-height: 19px;
}

.openingHours__address {
  font-style: normal;
}

.companyinfo__openingHours {
  color: #fff;
}

.frontpageProducts {
  display: flex;
  flex-direction: column;
}
.frontpageProducts__heading {
  text-transform: uppercase;
  color: #495464;
}
.frontpageProducts__headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
.frontpageProducts__productContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.frontpageProducts__btn {
  transition: all ease 0.2s;
}
.frontpageProducts__btn:hover {
  scale: 1.1;
  background-color: #fff;
  outline: 2px solid #ff6900;
  color: #ff6900;
}

.frontpageProduct {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  height: 400px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto auto;
  background-color: #fff;
  padding: 1.1rem 0.9rem;
  border-radius: 0.1875rem;
  max-width: 280px;
}
.frontpageProduct:hover {
  box-shadow: inset 0 0 0 3px #e6e6e6;
}
.frontpageProduct:hover {
  box-shadow: inset 0 0 0 3px #e6e6e6;
}
.frontpageProduct__heading {
  font-weight: 700;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  text-align: center;
  transition: all 0.2s ease;
}
.frontpageProduct__heading:hover {
  transform: scale(1.02);
}
.frontpageProduct__productBtn {
  transition: all ease 0.2s;
  padding: 0.5rem 10%;
  font-size: 0.875rem;
  width: 50%;
  margin: 0 auto;
}
.frontpageProduct__productBtn:hover {
  scale: 1.1;
  background-color: #fff;
  outline: 2px solid #ff6900;
  color: #ff6900;
}
.frontpageProduct__price {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 1rem 0;
}

.paymentform__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  color: #495464;
  padding-bottom: 17px;
}

.form__input {
  height: 56px;
  background: #e8e8e8;
  box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border: none;
  margin-bottom: 20px;
}

.form__small {
  grid-column: 2/3;
  max-width: 199px;
}

.form__medium {
  grid-column: 1/2;
  max-width: 290px;
}

.form__big {
  max-width: 510px;
  grid-column: 1/3;
}

.form__label {
  color: #495464;
  font-size: 26px;
  font-weight: 400;
}

.paymentform__form {
  display: grid;
  grid-template-columns: 55% 45%;
  margin-inline: unset;
  background-color: #fff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 100%;
  max-width: 635px;
  padding: 30px;
  margin-block: 50px;
  margin-inline: unset;
}

.paymentcontainer {
  display: grid;
}

.paymentform {
  grid-row: 1/2;
  grid-column: 1/2;
}

.container__payment {
  position: sticky;
  top: 0;
  max-width: 450px;
  width: 100%;
  max-height: 500px;
  color: #495464;
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: end;
  display: grid;
  margin-top: 50px;
}

.payment__overview {
  padding: 32px;
  /*position: fixed;
  right:2%;
  top:21.5%;*/
  background-color: #fff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 100%;
  max-width: 450px;
  padding: 30px;
  margin-block: 50px;
  margin-inline: unset;
}

.overview__title {
  font-size: 26px;
  font-weight: 700;
  grid-row: 1/2;
  grid-column: 1/2;
  padding-bottom: 15px;
}

.overview__productinfo {
  display: grid;
  grid-template-columns: auto;
  max-width: 340px;
  width: 100%;
  font-size: 14px;
}

.productinfo__name {
  grid-column: 1/2;
  list-style-type: disc;
  margin-left: 20px;
}

.productinfo__price {
  grid-column: 2/3;
  justify-self: end;
  padding-bottom: 14px;
}

.productinfo__line {
  max-width: 338px;
  grid-column: 1/3;
  margin-top: 20px;
  margin-left: 24px;
  margin-right: -24px;
  margin-bottom: 26px;
  border: none;
  height: 2px;
  background-color: #d2d2d2;
}

.productinfo__total {
  grid-column: 1/3;
  justify-self: end;
}

.total__bold {
  font-weight: 700;
}

.payment__button {
  justify-self: end;
  display: block;
  background-color: #ff6900;
  color: #fff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  border: none;
  padding: 8px 28px;
  height: 60px;
  width: 100%;
  max-width: 179px;
}
.payment__button:hover {
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn.cartStockContainer__btn {
  transition: all ease 0.2s;
  padding: 0.5rem 10%;
  font-size: 0.875rem;
}
.btn.cartStockContainer__btn:hover {
  scale: 1.1;
  background-color: #fff;
  outline: 2px solid #ff6900;
  color: #ff6900;
}

.availability__icon {
  background-color: green;
  display: inline-block;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

.product__compareBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
  font-size: 0.875rem;
  justify-self: end;
}
.product__compareBtn:hover .compareBtn__icon {
  transform: scale(1.1);
}

.compareBtn__icon {
  height: 2rem;
  width: 2rem;
  transition: all ease 0.2s;
}

.product {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  height: 500px;
  cursor: pointer;
}
.product:hover {
  box-shadow: inset 0 0 0 3px #e6e6e6;
}

.product__heading {
  margin-top: 0.5rem;
  font-weight: 400;
  font-size: 0.875rem;
  text-align: center;
  transition: all 0.2s ease;
}
.product__heading:hover {
  transform: scale(1.02);
}

.product__price {
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  margin: 2rem 0;
}

.productMain__primaryHeading {
  font-size: 3rem;
  margin: 2rem 0;
  color: #495464;
}

.cartStockContainer__availability {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  flex-direction: row-reverse;
  font-size: 0.875rem;
}

.product__img {
  place-self: center center;
  object-fit: contain;
  width: 90%;
  height: 200px;
}

.categorizer {
  grid-area: 1/1/4/2;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 17.5rem;
}

.categorizer__primaryHeading {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.dropdown {
  background-color: #f1f1f1;
  user-select: none;
}

.dropdown__checkbox {
  background-color: #fff;
  width: 1.5rem;
  border-radius: 50%;
  position: relative;
  height: 1.5rem;
}

.checkbox__img {
  width: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.dropdown__checkboxChecked .checkbox__img {
  opacity: 1;
}

.dropdown__text {
  padding: 1rem;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.dropdown__text h2 {
  font-weight: 400;
  font-size: 1rem;
}

.dropdown__text img {
  margin-left: auto;
  transition: transform 0.5s;
  max-width: 2rem;
}

.dropdown__text:hover {
  background-color: #e2e2e2;
}

.dropdown__content {
  background-color: #e8e8e8;
  overflow: hidden;
  transition: max-height 0.35s;
  max-height: 0;
  display: flex;
  flex-direction: column;
}

.content__list {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  width: 100%;
  font-size: 0.875rem;
  cursor: pointer;
}
.content__list:hover {
  background-color: #e2e2e2;
}

.range__minMax {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content__range {
  display: flex;
  flex-direction: column;
  cursor: auto;
}

.filter-price {
  width: 220px;
  border: 0;
  padding: 0;
  margin: 0;
}

.price-title {
  position: relative;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.2em;
  font-weight: 400;
  background: #d58e32;
  padding: 10px;
}

.price-container {
  display: flex;
  border: 1px solid #ccc;
  padding: 5px;
  margin-left: 3.56rem;
  width: 100px;
}

.price-field {
  position: relative;
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 0px;
}

.price-field input[type=range] {
  position: absolute;
}

/* Reset style for input range */
.price-field input[type=range] {
  width: 100%;
  height: 7px;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  -webkit-appearance: none;
  background-color: #ff6900;
}

.price-field input[type=range]::-webkit-slider-thumb {
  /* WebKit/Blink */
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: #fff;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
  margin-top: -13px;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
}

.price-field input[type=range]::-moz-range-thumb {
  /* Firefox */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  margin-top: -5px;
  background-color: #fff;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
  margin-top: -13px;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
}

.price-field input[type=range]::-ms-thumb {
  /* IE */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  background-color: #242424;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
  margin-top: -13px;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
}

/* Style track input range */
.price-field input[type=range]::-webkit-slider-runnable-track {
  /* WebKit/Blink */
  width: 188px;
  height: 2px;
  cursor: pointer;
  border-radius: 5px;
}

.price-field input[type=range]::-moz-range-track {
  /* Firefox */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #242424;
  border-radius: 5px;
}

.rangeContainer {
  width: 100%;
  margin-bottom: 1rem;
  gap: 0.5rem;
  display: flex;
}
.rangeContainer__input {
  margin-top: 0.5rem;
  display: flex;
}
.rangeContainer__input label {
  margin-right: 0.2rem;
}
.rangeContainer__input input {
  width: 100%;
  padding: 0.1rem 0.5rem;
  border: none;
  outline: none;
}

.pageTitle {
  color: #495464;
  font-size: 48px;
}

.product__compareBtn {
  margin-left: auto;
}

.productContainer {
  max-width: 1124px;
  width: 100%;
  display: grid;
}

.product__gallery_details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product__background {
  background: #fff;
  background-color: #fff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 100%;
  max-width: 1124px;
  padding: 30px;
  margin-block: 0;
  margin-inline: auto;
  margin-bottom: 50px;
}

.product__gallery {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  grid-column: 1/2;
  grid-template-rows: 2fr 1fr;
}

.gallery__image {
  max-width: 337px;
  width: 100%;
  grid-column: 2/3;
}

.gallery__leftarrow,
.gallery__rightarrow {
  font-size: 65px;
  color: #d2d2d2;
}

.gallery__leftarrow {
  grid-column: 1/2;
}

.gallery__rightarrow {
  grid-column: 3/4;
}

.gallery__rightarrow.fa-solid.fa-chevron-right,
.gallery__leftarrow.fa-solid.fa-chevron-left {
  max-width: 39px;
}

.gallery__leftarrow:hover,
.gallery__rightarrow:hover,
.color__icon:hover,
.details__minus:hover,
.details__plus:hover,
.gallery__dot:hover {
  cursor: pointer;
}

.gallery__image,
.gallery__leftarrow,
.gallery__rightarrow {
  grid-row: 1/2;
}

.gallery__dots {
  display: flex;
  margin: 0 auto;
  grid-column: 2/3;
}

.gallery__dot {
  height: 15px;
  width: 15px;
  border: 2px solid #d2d2d2;
  border-radius: 50%;
  margin-left: 11px;
}

.gallery__dot--current {
  background-color: #d2d2d2;
}

.product__details {
  font-weight: 600;
  grid-column: 2/3;
  padding-right: 31px;
}

.details__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.details__type {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.details__description {
  padding-top: 19px;
  line-height: 19px;
  font-size: 14px;
  font-weight: 600;
}

.details__colors {
  display: flex;
  margin: 30px 0 15px 0;
}

.color__container {
  margin-right: 18px;
}

.color__icon {
  padding: 2px;
  height: 29px;
  width: 29px;
  border-radius: 50%;
  background-clip: content-box;
  border: 2px solid #fff;
  background-image: linear-gradient(#000000b3, #ffffff00);
}

.color__icon--current {
  border: 2px solid #000;
}

.color__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
}

.color__text::first-letter {
  text-transform: uppercase;
}

.details__price {
  display: flex;
  justify-content: space-between;
}

.price__amount {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.details__stockStatus {
  justify-self: end;
}

.details__cartUI {
  display: flex;
  margin-top: 20px;
}

.details__addToCartBtn {
  max-width: 374px;
  width: 100%;
  font-weight: 400;
  margin-left: auto;
}

.details__minus,
.details__plus {
  font-size: 20px;
  align-self: center;
}

.details__currentContainer {
  width: 37px;
  height: 37px;
  background: #f4f4f2;
  border-radius: 3px;
  margin: 0 12px;
}

.currentContainer__counter {
  text-align: center;
  line-height: 37px;
}

/* SPECS */
.product__divider {
  margin-top: 85px;
  margin-bottom: 94px;
}

.spec__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 48px;
}

.spec__table {
  border-spacing: 0;
  margin-bottom: 174px;
  margin-left: 50px;
}

.table__name,
.table__top,
.table__bottom {
  border-right: 1px solid #d2d2d2;
  width: 213px;
}

.table__name {
  font-weight: 700;
  padding-left: 62px;
}

.table__value {
  width: 287px;
  padding-left: 130px;
}

.table__value,
.table__name {
  font-size: 14px;
  line-height: 19px;
  height: 42px;
}

.table__value::first-letter,
.table__name::first-letter {
  text-transform: uppercase;
}

.spec__table tr:nth-child(even) {
  background-color: #e8e8e8;
}

.spec__table tr:last-child {
  background-color: #fff;
}

.whiteBackground {
  background-color: #fff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 100%;
  max-width: 1124px;
  padding: 30px;
  margin-block: 50px;
  margin-inline: auto;
}

.faq__subTitle,
.faq__subSubTitle {
  margin-top: 25px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

.faq__subTitle {
  font-size: 1.5rem;
}

.faq__subSubTitle {
  font-size: 1.125rem;
}

.faq__text {
  line-height: 1.5;
  font-size: 0.875rem;
}

.faq__text:not(:last-child) {
  margin-bottom: 10px;
}

.faq__text--largeText {
  font-size: 1.5rem;
}

.faq__list {
  list-style: disc;
  margin-left: 35px;
}

.cart__title {
  color: #495464;
}

.cart__item {
  display: grid;
  grid-template-columns: 220px 1fr auto 1fr auto;
  -grid-template-rows: 150px;
  background-color: #fff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 100%;
  max-width: 1124px;
  padding: 20px;
  margin-block: 20px;
  margin-inline: auto;
}

.item__imgContainer {
  display: grid;
}

.item__img {
  height: 150px;
  object-fit: contain;
}

.item__img,
.counter,
.item__price {
  place-self: center;
}

.price__poundSymbol {
  font-weight: 300;
  color: #495464;
}

.item__info {
  place-self: center start;
  margin-left: 80px;
}

.item__title {
  font-size: 0.875rem;
}

.item__stock {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.75rem;
}

.stock__color {
  display: inline-block;
  width: 10px;
  height: 10px;
  -background-color: red;
  border-radius: 50%;
}

.cart__subTotal {
  text-align: end;
  font-size: 1rem;
}

.cart__totalSubAmount {
  margin-left: 10px;
  color: #ff6900;
}

.cart__button {
  margin-left: auto;
  margin: 40px 0px 60px auto;
}

.cart__content {
  max-width: 1124px;
  margin-inline: auto;
}

.item__price {
  font-size: 1rem;
}

.item__delete {
  cursor: pointer;
  transition: all 150ms ease-in-out;
  place-self: start center;
}

.item__delete:hover {
  color: #ff6900;
  transform: scale(1.3);
}

.cart__empty {
  margin-bottom: 350px;
}

.ourHistory {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ourHistory__section {
  display: flex;
  gap: 30px;
}

.ourHistory__textContent,
.ourHistory__img {
  flex: 1;
  place-self: center;
}

.ourHistory__textContent {
  text-align: center;
}

.ourHistory__title,
.ourHistory__subTitle {
  margin-bottom: 5px;
}

.ourHistory__title {
  font-weight: 700;
  font-size: 1rem;
}

.ourHistory__subTitle {
  font-weight: 600;
  font-size: 0.8125rem;
  color: #ff6900;
}

.ourHistory__text:not(:last-child) {
  margin-bottom: 10px;
}

.ourHistory__text {
  font-size: 0.75rem;
  line-height: 1.5;
}

.ourHistory__textBold {
  font-weight: 600;
}

.compare {
  position: sticky;
  bottom: 0;
  background-color: #e8e8e8;
  display: none;
  grid-template-columns: 319px 319px 319px 168px;
  column-gap: 15px;
  padding: 15px;
  margin: 20px 0;
  height: 150px;
}

.compare__selectedProduct {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 17px auto 22px;
  background-color: #fff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 100%;
  max-width: 1124px;
  padding: 10px;
  margin-block: 0px;
  margin-inline: auto;
  height: 120px;
  grid-row: 1/2;
  z-index: 3;
}

.compare__selectedProduct:nth-of-type(5) {
  grid-row: 1/2;
  grid-column: 3/4;
}

.selectedProduct__image {
  grid-row: 1/4;
  margin: auto auto;
  width: auto;
  max-width: 120px;
  height: auto;
  max-height: 100px;
}

.selectedProduct__removeBtn {
  margin-left: auto;
  color: #495464;
}

.selectedProduct__removeBtn:hover {
  color: #ff6900;
}

.selectedProduct__name {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  margin: auto 0;
}

.selectedProduct__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
}

.compare__infoBox {
  grid-row: 1/2;
  grid-column: 3/4;
  display: grid;
}

.infoBox__arrow,
.infoBox__text {
  grid-row: 1/2;
  grid-column: 1/2;
}

.infoBox__arrow {
  background: #c4c4c4;
  transform: rotate(45deg);
  width: 9.26px;
  height: 9.12px;
  margin-left: 53px;
  margin-top: 90px;
  z-index: 2;
}

.infoBox__text {
  width: 261px;
  height: 40px;
  margin-top: auto;
  margin-left: auto;
  background-color: #c4c4c4;
  border-radius: 2px;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
}

.compare__compareButton {
  grid-row: 1/2;
  grid-column: 4/5;
  display: flex;
  display: block;
  background-color: #ff6900;
  color: #fff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  border: none;
  padding: 8px 28px;
  height: 100%;
  width: 100%;
  max-width: unset;
  align-items: center;
  justify-content: space-between;
}
.compare__compareButton:hover {
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.compareButton__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
}

.compareBtn__icon {
  color: #fff;
}

.contact__form {
  margin: 0 auto;
  padding-top: 50px;
}

.contact__input {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
  width: 275px;
  padding: 5px;
}

.input__inputField {
  height: 38px;
}

.input__label {
  font-size: 18px;
  font-weight: bold;
}

.input__errorMessage {
  display: none;
  color: red;
  font-size: 14px;
}

.submit__successMessage {
  display: none;
  margin-left: 100px;
}

#message {
  width: 737px;
  height: 374px;
}

.contact__text {
  margin-left: 50px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 24px;
}

.contact__link {
  text-decoration: none;
  font-size: 24px;
  color: #ff6900;
}

.contact__submit {
  display: flex;
  justify-content: flex-end;
  margin-right: 220px;
  padding-top: 25px;
  padding-bottom: 100px;
}

.contact__submitButton {
  width: 135px;
  height: 45px;
  border-radius: 3.5px;
  color: #fff;
  border: none;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.5);
}

.invoice__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  color: #495464;
}

.invoice {
  background-color: #fff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 100%;
  max-width: 780px;
  padding: 30px;
  margin-block: 24px;
  margin-inline: auto;
  padding: 45px;
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.invoice__companySalesInfo,
.invoice__customerInfo {
  grid-column: 1/2;
}

.companySalesInfo__name,
.customerInfo__name {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.companySalesInfo__address {
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
}

.customerInfo__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #495464;
  margin-top: 31px;
  margin-bottom: 7px;
}

.customerInfo__address,
.customerInfo__country,
.customerInfo__phone,
.customerInfo__email {
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
}

.invoice__companyInfo {
  grid-column: 2/3;
  grid-row: 1/3;
}

.companyInfo__image {
  width: 56px;
  height: auto;
  margin-left: auto;
  margin-bottom: 15px;
  display: block;
}

.companyInfo__address {
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  font-style: normal;
  text-align: right;
}

.email__email,
.phone__number {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
}

.invoice__phone,
.invoice__email {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 8px;
}

.email__icon,
.phone__icon {
  color: #495464;
  margin-left: 5px;
}

.invoice__orderInfo {
  grid-column: 2/3;
  grid-row: 3/4;
  max-width: 280px;
  margin-left: auto;
}

.orderInfo__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  color: #495464;
  padding-right: 100%;
  text-align: left;
  border-bottom: 2px solid #c4c4c4;
  height: 35px;
}

.invoice__orderInfo tbody tr {
  padding-top: 50px;
}

.orderInfo__title:first-of-type {
  margin-left: 5px;
  display: block;
}

.orderInfo__number,
.orderInfo__date,
.orderInfo__currency,
.orderInfo__numberData,
.orderInfo__dateData,
.orderInfo__currencyData {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

.orderInfo__numberData,
.orderInfo__dateData,
.orderInfo__currencyData {
  width: 100px;
}

.orderInfo__number,
.orderInfo__date,
.orderInfo__currency {
  width: 150px;
}

.invoice__summery {
  margin-top: 50px;
  border-spacing: 0;
  grid-column: 1/3;
}

.summery__titles th {
  border-bottom: 2px solid #c4c4c4;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.titles__desc {
  text-align: left;
  padding-left: 10px;
}

.summery__item:nth-child(odd) {
  background-color: #e8e8e8;
}

.item__productName,
.item__productPrice,
.item__productAmount,
.item__productTotal {
  font-weight: 400;
  font-size: 14px;
  line-height: 41px;
  height: 41px;
}

.item__productPrice {
  width: 100px;
  padding-left: 25px;
}

.item__productAmount {
  text-align: center;
}

.item__productTotal {
  width: 100px;
  padding-left: 25px;
}

.invoice__total {
  grid-column: 2/3;
  margin-top: 50px;
  border-spacing: 0;
}

.total__total {
  height: 41px;
  background-color: #495464;
  color: #f4f4f2;
}

.total__name {
  padding-left: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.total__totalPrice {
  padding-right: 5px;
}

.total__subtotalPrice,
.total__vatPrice,
.total__deliveryPrice,
.total__totalPrice {
  text-align: right;
}

.total__whitespace {
  height: 50px;
}

.invoice__contactInfo {
  display: flex;
  grid-column: 1/3;
  margin: 100px auto 10px auto;
}

.contactInfo__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.contact__address {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
}
/*# sourceMappingURL=styles.css.map */
