/* resets */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, Verdana, sans-serif;
  background-color: $primaryBackgroundColor;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: currentColor;
}
