*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, Helvetica, Verdana, sans-serif;
  background-color: $primaryBackgroundColor;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

ul {
  list-style: none;

  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: currentColor;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 20px;
}

#page__title {
  color: $secondaryTextColor;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 35px;
  font-size: 3rem;
}
